 <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width">
            <meta name="HandheldFriendly" content="true">
            <meta name="MobileOptimized" content="width">
        <link rel="stylesheet" href="/stylesheets/form.css" type="text/css">
    </head>
    <body>
    <div class="login-wrap">
        <h2>Login</h2>
       <form class="form" action="/sendemail" method="post">
            <input type="email" placeholder="Please enter your email" name="user">
            <button type="submit"> Login</button>
        </form>
    </div>
    </body>
    </html>
